:root {
  --bg-grey: #191919;
  --card-grey: #303030;
  --bg-blue: #0b0d1d;
  --card-blue: #232534;
  --accent-gold: #faea95;
  --accent-pink: #ff00ff;
  --accent-cyan: #0df1b1;
  --accent-coral: #f6084c;
  --text-white: #e6fef7;
}

body {
  background-color: var(--bg-grey);
  color: var(--text-white);
}

section {
  background-color: transparent;
  color: var(--text-white);
}

a {
  color: var(--accent-cyan);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--text-white);
  text-decoration: underline;
}

a:visited {
  color: var(--accent-cyan);
}

.text-accent {
  color: var(--accent-gold);
}

.text-accent-cyan {
  color: var(--accent-cyan);
}

.text-accent-pink {
  color: var(--accent-pink);
}
